.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;
}

.App .heading {
  font-size: 42px;
  letter-spacing: 1px;
  font-weight: 700;
  color: rgb(68, 68, 68);
}
.App .heading span {
  font-weight: 800;
  color: green;
}
.App .slider {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: column;
  height: 500px;
}

.App .slider .btn-icon {
  position: absolute;
  background-color: green;
  color: white;
  padding: 2px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  font-size: 50px;
  height: 2rem;
  width: 2rem;
  font-size: 1.5rem;
  top: 290px;
  z-index: 100;
}
.prev {
  left: 30%;
}
.next {
  right: 30%;
}

@media screen and (max-width: 991px) {
  .prev {
    left: 5%;
  }
  .next {
    right: 5%;
  }
}
